html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
   body {
     font-family: 'Roboto', sans-serif;
     
   }

   .container {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     min-width: 100vw;
     background-color: rgb(169, 226, 248);
   }
   
   header {
     width: 100%;
     min-height: 25%;
     font-family: 'Inter', sans-serif;
     background-color: rgb(159, 159, 245);
     padding: 3rem;
     text-align: center;
   }
   .logo {
     color: navy;
     font-weight: bold;
     font-size: 6rem;
     
   }
    nav {
      margin-top: 2rem;
    }

   #navbar ul {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     gap: 4rem;
     
   }
   nav ul li{
     list-style: none;
   }
   nav ul li a {
      text-decoration: none;
      color: red; 
      font-weight: bold;
      font-size: 3rem;
      cursor: pointer;
      background-color: aquamarine;
      padding: 1rem;
      border-radius: 10px;
    }
    nav ul li a:hover {
      color: rgb(51, 208, 46);
      background-color: aquamarine;
    }
  
    #welcome-section {
      font-family: 'open sans', sans-serif;
      font-size: 3rem;
      padding: 3rem;
    }
    #project-section {
      font-size: 2.5rem;
      padding: 3rem;
      color: navy;
    }
    #project-section a {
      color: red;
      background-color: aquamarine;
      text-decoration: none;
      font-size: 2rem;
      cursor: pointer;
      padding: 1rem;
      border-radius: 10px;
    }
    #project-section a:hover {
      color: green;
      background-color: aquamarine;
    }
     #project-section p {
       color: black;
     }
      h2 {
        margin: 1rem 0;
      }

      img {
        width: 10%;
        height: auto;
        border: 5px solid navy;
        border-radius: 15px;
      }
  
      footer {
        width: 100%;
        background-color: rgb(62, 62, 241);
        padding: 2rem;
        min-height: 25%;
  
      }
      footer h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      footer p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
       #profile-link {
         color: red;
         text-decoration: none;
         cursor: pointer;
         background-color: aquamarine;
         padding: 1rem;
          border-radius: 10px;
       }
        #profile-link:hover {
          color: green;
          background-color: aquamarine;
        }
        @media only screen and (max-width: 480px) {
          #navbar ul {
            margin-bottom: 0.5rem;
            padding: 1rem;
            display: block;
          }
          #navbar ul li a {
            font-size: 2.5rem;
            
          }
          #navbar ul li {
            margin-bottom: 3rem;
          }
          header {
            width: auto;
          }

          img {
            width: 40%;
          }
        }
        @media only screen and (max-width: 360px) {
          #welcome-section {
            font-size: 2rem; 
          }
          #navbar ul {
            display: block;
          }
        }
  
  